.list-quiz-container {
    display                     : flex;
    // justify-content     : space-between;
    
    flex-wrap                   : wrap;

    .card {
        width                 : calc((100% / 3) - 20px);
        display               : flex;
        margin :10px;
        // flex-direction: column;

    }
}