.list-quiz-container {
    display             : flex;
    justify-content     : space-between;
    gap                 : 40px;

    .card {
        width       : calc(100% / 3);
        display     : flex;
        // flex-direction: column;
       
    }
}