.dashboard-container {
    padding     : 0px 15px 10px 15px;

    .title-db {
        padding-bottom     : 10px;
    }

    .content {
        display     : flex;
        gap         : 20px;

        .db-left {
            width     : 50%;

            display       : flex;
            flex-wrap     : wrap;
            gap           : 20px;

            .child {
                width     : calc(50% - 10px);

                border              : 1px solid rgb(230, 195, 138);
                border-radius       : 10px;
                height              : 150px;
                display             : flex;
                flex-direction      : column;
                justify-content     : center;
                align-items         : center;
            }
        }

        .db-right {
            width      : 50%;
            border     : 1px solid rgb(230, 195, 138);
        }
    }
    .text-1{
        font-weight: 500;
        font-size: 40px;
    }
}