.user-content{
    .add-new{
        display: flex;
        align-items: center;
        gap: 15px;
    }
}
.title{
    font-size: 20px;
    margin: 20px 0px;
}
.manage-user-container{
    padding: 0px 10px;
}