.header-container {
    .nav-container {
        z-index              : 2;
        background-color     : rgba(0, 0, 0, 0) !important;
        padding-top          : 20px;

        .navbar-nav {
            .nav-link {
                &.active {
                    color     : #00bbff
                }
            }
        }

        .log-in {
            border-radius     : 5px;
            padding           : 0 10px;
            margin-right      : 15px;
            border            : 1px solid #535353;
            height            : 40px;
        }

        .sign-up {
            border-radius        : 5px;
            padding              : 0 10px;
            border               : 1px solid #535353;
            background-color     : #303030;
            height               : 40px;
            color                : #fff;

            &:hover {
                background-color     : black;
            }
        }
    }

}

